.content {
    background-color: #f2f2f2;
    padding-bottom: 30px !important;
}

.card-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.login__form >>> label {
    position: static;
    transform: none !important;
    -webkit-transform: none !important;
    font-size: 12px;
    margin-bottom: -7px;
    margin-top: -3px;
}
.login__form.mt-4.card {
    width: 300px;
}
